:root {
  --background: #000000;
  --foreground: #ffffff;
  --element-background: #121212;
  --element-foreground: #1f1f1f;
  --sp-accent: #1ed760;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-spotify-mix), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; causes more issues than it solves when porting an existing stylesheet */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.65em 1em;
  border: none;
  border-radius: 32px;
  background-color: #1ed760;
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: #18c555;
}

input {
  font-family: inherit;
  font-size: 1.2em;
  background-color: #1f1f1f;
  outline: none;
  padding: 0.65em 1.2em;
  border: 2px solid #1f1f1f;
  border-radius: 32px;
  width: 100%;
}

input:focus {
  border: 2px solid white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
