@keyframes scale_in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: unset;
    opacity: unset;
  }
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000005a;
  backdrop-filter: blur(4px);
}

.main div[class="modal"] {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 32px;
  padding: 1.6em;
  background-color: var(--element-background);
  animation: scale_in 75ms linear;
}

.main div[class="modal"] p[class="title_text"] {
  align-self: center;
  text-align: center;
  margin: 0;
  margin-bottom: -0.5em;
  font-size: 1.25em;
  font-weight: bold;
}

.main div[class="modal"] hr {
  width: 30%;
  margin: 0;
  align-self: center;
}

.main div[class="modal"] label {
  text-align: center;
  margin-bottom: -0.7em;
  font-weight: bold;
}

.main div[class="modal"] span[class="admin_checkbox"] {
  margin: unset;
  align-items: center;
  justify-content: center;
}

.main div[class="modal"] span[class="admin_checkbox"] input {
  width: fit-content;
}

.main div[class="modal"] button[class="close_button"] {
  width: 30%;
  background-color: white;
  position: relative;
  right: 0;
}

.main div[class="modal"] button[class="close_button"]:hover {
  background-color: #d8d8d8;
}

.main div[class="modal"] button[class="add_button"] {
  width: 70%;
}

.main div[class="modal"] span {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  margin-top: 1.4em;
}
