.login_form {
  text-align: center;
  margin: auto;
}

.login_form input {
  margin: auto;
  display: block;
}

.login_form input,
.login_form button {
  display: block;
  font-family: var(--font-source-code-pro);
  margin: auto;
  margin-bottom: 20px;
  padding: 6px;
  font-size: 1.35em;
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 24ch;
}

.login_form button[type="submit"] {
  cursor: pointer;
  margin-top: 10px;
  background-color: #181818;
  width: 24.15ch;
}

.login_form button[type="submit"]:hover {
  background-color: #1f1f1f;
}
